@model RMS.Application.ViewModels.OrderViewModel.OrderDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBeforeDiscounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBeforeDiscounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryTime)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableId)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableNumber)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponId)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
    </dl>
</div>
<div>
@Html.ActionLink("Edit", "Edit", new {  id = Model.OrderId  }) |
    <a asp-action="Index">Back to List</a>
</div>
